
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/"><img src="style/img/logo/logo_white.png" style="width: 5%; margin-top: 20px;"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/behaviour">Behaviour</a>
                </li>
                <li>
                    <a class="page-scroll" href="/habitat">Habitat</a>
                </li>
                <li>
                    <a class="page-scroll" href="/classification">Classification</a>
                </li>
                <li>
                    <a class="page-scroll" href="/gallery">Gallery</a>
                </li>
                <li>
                    <a class="page-scroll" href="/mating">Mating</a>
                </li>
                <li>
                    <a class="page-scroll" href="/diet">Diet</a>
                </li>
                <li>
                    <a class="page-scroll" href="/communication">Communication</a>
                </li>
                <li>
                    <a class="page-scroll" href="/fact">Fact</a>
                </li>
                <li>
                    <a class="page-scroll" href="/anatomy">Anatomy</a>
                </li>
                <li>
                    <a class="page-scroll" href="/culture">Culture</a>
                </li>
                <li>
                    <a class="page-scroll" href="/about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="/email">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h1 id="homeHeading" style="color: black;">ABOUT US</h1>
            <hr>
            <p style="color: black; text-indent: 50px; text-align: left; font-family: 'PT Serif', serif;">
                <div class="container">
                    <div class="row">
                        <h3 style="text-align: left; color : black;">Team Members</h3>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            Hamim
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-twitter fa-2x sr-contact"></i>@hamim
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-envelope fa-1x sr-contact"></i>hamim@tokopedia.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            Yogie
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-twitter fa-2x sr-contact"></i>@yogie
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-envelope fa-1x sr-contact"></i>yogie@tokopedia.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            Bayu
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-twitter fa-2x sr-contact"></i>@bayu
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-envelope fa-1x sr-contact"></i>bayu@tokopedia.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            Maulana
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-twitter fa-2x sr-contact"></i>@maulana
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-envelope fa-1x sr-contact"></i>maulana@tokopedia.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            Agnes
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-twitter fa-2x sr-contact"></i>@agnes
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-envelope fa-1x sr-contact"></i>agnes@tokopedia.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            Vivi
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-twitter fa-2x sr-contact"></i>@vivi
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-envelope fa-1x sr-contact"></i>vivi@tokopedia.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            Chairul
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-twitter fa-2x sr-contact"></i>@chairul
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-envelope fa-1x sr-contact"></i>chairul@tokopedia.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            Elin
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-twitter fa-2x sr-contact"></i>@elin
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-envelope fa-1x sr-contact"></i>elin@tokopedia.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            Rebeca
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-twitter fa-2x sr-contact"></i>@rebeca
                        </div>
                        <div class="col-sm-3" style="text-align: left; color : black;">
                            <i class="fa fa-envelope fa-1x sr-contact"></i>rebeca@tokopedia.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <i class="fa fa-gear fa-3x sr-contact"></i>
                            <p><a href="https://www.scrum.org/">Scrum</a></p>
                        </div>
                        <div class="col-lg-3 text-center">
                            <i class="fa fa-twitter fa-3x sr-contact"></i>
                            <p><a href="#horsefact">@horsefact</a></p>
                        </div>
                        <div class="col-lg-3 text-center">
                            <i class="fa fa-envelope fa-3x sr-contact"></i>
                            <p><a href="#horsefact@tokopedia.com">horsefact@tokopedia.com</a></p>
                        </div>
                        <div class="col-lg-3 text-center">
                            <i class="fa fa-phone fa-3x sr-contact"></i>
                            <p><a href="email.html">Contact Us</a></p>
                        </div>
                    </div>
                </div>
            </p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
<p style="margin:50px">
    How team used scrum

    The Scrum Team consists of a Product Owner, the Development Team, and a Scrum Master. Scrum Teams are self-organizing and cross-functional. Self-organizing teams choose how best to accomplish their work, rather than being directed by others outside the team. Cross-functional teams have all competencies needed to accomplish the work without depending on others not part of the team. The team model in Scrum is designed to optimize flexibility, creativity, and productivity. 

    Product owner and all of team member do sprint planning to devide task to team member. And what we will do at this sprint. After that we do sprint retro with all team member to tell what the happiness, sadness, idea and apprasial and do sprint review too.

    Scrum at high level
</p>
<center>
    <img src="style/img/scrum.png" style="width: 50%; height: 50%"></img>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <p style="font-size: 25px; font-weight: bold">Five Levels</p>
    <p style="font-size: 20px; margin: 20px">
    <p>
        1. Product vision

        The product vision is the point where we move from governance and organization-wide strategic decision making to tactical delivery of products, which results in changes to the way people in the organization work.

        The product vision is a crucial tool that needs to convey to the team why they are working, what they are working on, and what key constraints they must work within.

        A rule of thumb for product vision is that it is something that helps stakeholders pass the elevator test -- the ability to explain the project to someone within two minutes. It comes from Geoffrey Moore's book Crossing the Chasm. It follows the form:

        For (target customer), who (statement of the need or opportunity), the (product name) is a (product category) that (key benefit, compelling reason to buy). Unlike (primary competitive alternative), our product (statement of primary differentiation).

        Here's an example: For the software startup-to-midsize company, who needs a simple, intuitive Agile project management tool, XYZ is a cloud- and mobile-based offering that provides Scrum facilitation, Agile metrics, reporting, and low administrative overhead via social log-ins. Unlike similar services or package software products, our product provides offline capability with peer-to-peer screen sharing and competitive cost.
</p>
<p>
        2. Product road map

        The product road map is a list of the key features and characteristics that the product will need to deliver in order to achieve the vision. The product road map is important when the project spans a number of releases of the product. If there is only a single release, then the product road map and the release plan could be the same thing.

        The product road map is a time-based view of the anticipated delivery life cycle of the product. It is a high-level plan maintained by the product owner and project manager that is expected to change over time.

        Creating a product road map is a process that can be broken into four logical steps:

        Identifying your Agile product requirements

        Arranging Agile product features into themes

        Estimating and ordering the Agile product's features

        Determining high-level Agile time frames

        Release plan

        A release is what the name implies: a set of product increments that is released to the (internal) customer. Characteristics of a release are:

        Releases are defined by date, theme, and planned feature set. Release dates can be linked to events, such as conferences or changes in the legal system.

        Scope, not date or quality, is the variable, which highlights the need to use a prioritized product backlog as the basis of a planning event. When a release date is set in stone, and an increase in budget is unlikely and usually has no positive effect on a release, the scope is the only variable that can make or break the release date.

        All teams should commit to the same rhythm of iterations. When all teams work to the same rhythm, the discovery and management of dependencies occurs automatically during the planning activities.

        There are fixed release dates across all teams of the program. A typical interval would be two to four months.
</p>
<p>
        3. Sprint plan

        Each sprint begins with a two-part sprint planning meeting. Part one of the sprint planning meeting is a review of the product backlog. This is the time for the product owner to describe what he/she wants to see built for the next sprint. During this part of the meeting, it is not uncommon for the team to ask clarifying questions to drive away ambiguity. By the end of the first part of sprint planning, the team will select a sprint goal: a one-sentence description of the overall outcome of the sprint. During part two of the sprint planning meeting, the team decides how the work will be done. In this meeting the team will begin decomposing the product backlog items into work tasks and estimating these in hours. The output of the second planning meeting will be the sprint backlog.
</p>
<p>
        4. Daily commitment

        The Daily Scrum or stand-up meeting is an important part of a sprint. A good daily stand-up energizes the team and keeps the project on target. Each member updates the team on three points: what they worked on since the last meeting, what they are going to work on today, and whether they are blocked. The ScrumMaster facilitates and helps address blockers to ensure the overall release is on track. 
    </p>
</center>

    <!-- 
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
            </div>
        </div>
    </aside> -->
    <!-- <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-home fa-3x sr-contact"></i>
                    <p><a href="index.html">Home</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-user fa-3x sr-contact"></i>
                    <p><a href="about.html">About Us</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p><a href="email.html">Contact Us</a></p>
                </div>
            </div>
        </div>
    </section> -->
   <!--  
</body>

</html> -->
