<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HORSE - TEAM</title>
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" style="height: 50%">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index.html"><img src="img/logo/logo_white.png" style="width: 5%; margin-top: 20px"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/behaviour">Behaviour</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/habitat">Habitat</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/classification">Classification</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/mating">Mating</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/diet">Diet</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/communication">Communication</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/fact">Fact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/anatomy">Anatomy</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/culture">Culture</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/email">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">HORSE CULTURE</h1>
                <hr>
                <p></p>
                <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            </div>
        </div>
    </header>
    <p style="margin:50px">
        Film : stallion of the cimarron In the 19th-century American West, a young Kiger Mustang colt, Spirit, is born to a herd of horses. Spirit soon grows into a stallion and assumes the role of leader of the herd, whose duty it is to keep the herd safe. Spirit is a courageous leader but has great curiosity. Spotting a strange light one night not far from his herd, the stallion is intrigued and investigates. He finds restrained, docile horses and their human wranglers sleeping around a campfire. They wake up, and seeing him as a magnificent specimen, chase and capture him, taking him to a US cavalry post. At this time, the army is fighting the Indian Wars and taking over the soon-to-be western United States. Frightened and confused, Spirit sees horses used as 'slaves' all around him. There, he encounters "The Colonel", who decides to have the mustang tamed, refusing to believe the idea of Spirit being too stubborn, but Spirit manages to fight off all attempts to tame him. To weaken Spirit, The Colonel orders him tied to a post for three days with no food or water. Meanwhile, a Lakota Native American named Little Creek is also brought into the fort and held captive. Spirit is later supposedly broken in by the Colonel, who speaks his idea of how any wild horse can be tamed. However, Spirit gets a second wind and finally throws him off. The Colonel gets frustrated and tries to shoot him, but Little Creek (who frees himself from his bounds with a knife) saves Spirit from being shot. The two of them, along with other horses, escape the post. Little Creek's mare, Rain, meets them along with other natives who capture Spirit. After returning to the Lakota village, Little Creek tries to tame Spirit with kindness, but Spirit refuses to be ridden. Little Creek ties Spirit and Rain together and, when he tries to leave, she insists on staying, then shows him her world. Spirit begins to warm up to Little Creek and falls in love with the mare. At the end of their time together, Little Creek tries again to ride him, but Spirit is still unwilling. He then decides that Spirit will never be tamed and frees him. As Spirit asks Rain to come with him to his herd, a cavalry regiment led by the Colonel attacks the village. During the vicious battle, the Colonel tries to shoot Little Creek, but Spirit runs into the Colonel and his horse, deflecting the shot and saving Little Creek's life. However, Rain is shot by the Colonel, knocking her into the river. Spirit dives into the river to try to rescue Rain but is unsuccessful and they both plummet over a waterfall. Spirit finds Rain dying from her injuries and stays by her side until the army captures him. Watching Spirit being pulled away, Little Creek arrives, vowing to free him to satisfy his life-debt and follows the men after tending to Rain. Spirit is loaded onto a train and taken to a work site on the Transcontinental Railroad, where he is put to work pulling a steam locomotive. Realizing that the track will infringe on his homeland, Spirit breaks free from the sledge and breaks the chains holding the other horses. They escape, and the locomotive falls off its sledge and rolls down the hill back to the work site, causing an explosion. Little Creek appears in time and saves Spirit from the ensuing wildfire. The next morning, the Colonel and his men find Spirit and Little Creek, and a chase ensues through the Grand Canyon. Eventually, they are trapped by a gorge. Little Creek gives up, but Spirit manages to successfully leap across the canyon. Spirit's move amazes the Colonel; he humbly gives up, stops his men from shooting the two, and allows Spirit and Little Creek to leave. Spirit returns to the rebuilt Lakota village with Little Creek and finds Rain nursed back to health. Little Creek decides to name Spirit the "Spirit-Who-Could-Not-Be-Broken" and sets him and Rain free. The two horses return to Spirit's homeland, eventually reuniting with Spirit's herd.
    </p>
    <center>
        <img src="img/portfolio/fullsize/cartoon.jpg" style="width: 50%; height: 50%"></img>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <img src="img/books.png" style="width: 50%; height: 50%"></img>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <p style="font-size: 25px; font-weight: bold">Horse documentary</p>
        <p style="font-size: 20px; margin: 20px">
            Barbaro – A Nation’s Horse (2007) Narrated by Bob Costas, this is the inspirational story of Barbaro & features interviews with his owner, trainer, vet & jockey as well as exclusive footage of some of his most famous races </p>
        <p style="font-size: 20px; margin: 20px">
            Brumby: Horse Run Wild (1998) Horses were first brought to Australia 200 years ago and since then they have taken to the wild and adapted to their environment. This video discusses the Brumbys in Australia and the unique challenges they face there. </p>
        <p style="font-size: 20px; margin: 20px">
            El Caballo: The Wild Horses of North America (2007) Horses made their way to North America via Spanish explorers & eventually became the wild horses of America. This documentary discusses the encroaching development that is rapidly displacing the animals. </p>
        <br/>
    </center>
    <br/>
    <br/>
    <br/>
    <br/>
    <p style="font-size: 25px; font-weight: bold">Horse Article</p>
    <p style="font-size: 20px; margin: 20px">
        <ul>
            <li>Hair Reveals Horse Temperament. The location and shape of a hair swirl lying near a horse’s eyes is linked with how the horse responds to handling and to new objects.</li>
            <li>When Horses Have Trouble Getting Along. Horses are particularly prone to getting injured in scuffles when there’s a change in stabling arrangements, a study concludes. Depends On How a Horse Sees It</li>
        </ul>
    </p>
    <!-- 
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
            </div>
        </div>
    </aside> -->
    <br/>
    <br/>
    <section id="contact" style="background-color: yellow">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-home fa-3x sr-contact"></i>
                    <p><a href="index.html">Home</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-user fa-3x sr-contact"></i>
                    <p><a href="about.html">About Us</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p><a href="email.html">Contact Us</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>
</body>

</html>
