<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" style="color:black" href="/"><img src="style/img/logo/logo_white.png" style="width: 5%; margin-top: 20px;">Zoo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/behaviour">Behaviour</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/habitat">Habitat</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/classification">Classification</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/mating">Mating</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/diet">Diet</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/communication">Communication</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/fact">Fact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/anatomy">Anatomy</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/culture">Culture</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/email">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="style/img/logo/logo_black.png" style="width: 20%;">
                <h1 id="homeHeading">Go to Zoo</h1>
                <hr>
                <p style="color: black; font-family: 'PT Serif', serif;">I frequently dream of being on these horses' backs and running across a field. And the horse and I are one</p>
                <a href="/redirect">Go to Zoo</p>

                <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            </div>
        </div>
    </header>
</body>
